.panel-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
  background: radial-gradient(circle at 10% 10%, #323232 0, #2b2b2b 26%, #252525 60%);
}

.panel-container-horizontal {
  flex-direction: row;
}

.panel-container-vertical {
  flex-direction: column;
}

.panel-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
}

