.resize-handle {
  position: absolute;
  background: transparent;
  z-index: 10;
}

.resize-handle-right {
  top: 0;
  right: -4px;
  width: 8px;
  height: 100%;
  cursor: col-resize;
}

.resize-handle-bottom {
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  cursor: row-resize;
}

.resize-handle:hover {
  background: rgba(79, 163, 255, 0.3);
}

.panel {
  position: relative;
}

